body
    {background: url(../img/burger-pattern-grayish-2.png);}


@font-face 
            {font-family: "Ranchers";
            src: url("fonts/Ranchers/Ranchers-Regular.ttf");}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 500;}

@font-face {
font-family: "Roboto-Light";
src: url("fonts/Roboto/Roboto-Light.ttf");
font-weight: 300;}


h1
    {color: #da291c;
    font-family: "Ranchers";
    text-align: justify;}


#welcome
        {text-align: center;}

#bobs
    {text-transform: uppercase;
    text-align: center;}

.content-foot-home
{color: rgb(78, 78, 78);
font-family:"Roboto-Light";
font-size: 15px;
text-align: justify;
line-height: 30px;
font-weight: 300;}

table#table {
    margin-left:43.5%; 
    margin-right:43.5%;
  }

#menu
    {text-transform: uppercase;}

#order-header
    {text-transform: full-width;}

#specials
    {text-transform: uppercase;}

#contact
    {text-transform: uppercase;}

h2 
    {color: #da291c;
    font-family:"Roboto";}

h3 
    {color: #ae2116;
    font-family:"Roboto";}

.content
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    font-weight: 300;
    margin: 10px;
    padding: 10px 0px 0px 0px;
    border-top: 1px solid  rgb(238, 189, 97);
}

.content2
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    font-weight: 300;
    margin: 10px;
    padding: 10px 0px 0px 0px;}


.order-div
        {padding: 15px;
        border-top:  solid 1px  rgb(238, 189, 97);
        color: rgb(78, 78, 78);
        font-family: "Roboto";
        font-size: 18px;}

.order-div input
        {display: block;
        margin-bottom: 20px;}

.order-div button:hover {
    box-shadow: 2px 2px 3px #c0c0c0;
    }
        
.order-div input:focus {
  box-shadow: 2px 2px 3px #c0c0c0;
  border:none;
    }
    
.content-foot
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
    font-weight: 300;}


.bold
    {font-weight: bold;}


td 
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";}


tfoot 
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";}


caption 
    {color: rgb(78, 78, 78);
    font-family:"Roboto";}

li 
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";}


.hyperlink
        {font-family: "Roboto";
        font-size: 17px;
        text-transform: uppercase;
        color: rgb(211, 84, 53);
        font-weight: bolder;
        text-align: center;}

tr 
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";}

.img-div{
        background-color: rgb(241, 215, 165);}

#burger-home 
        {width: 50px;
        position: fixed;
        top: 10px;
        left: 1400px}

#impossible-burger
        {width: 200px;
        box-shadow: 3px 0 7px gray;
        position: relative;
        left: 1000px}

#veggie-burger
        {width: 200px;
        box-shadow: 3px 0 7px gray;
        position: relative;
        left: 1000px}

#seitan-surprise
        {width: 200px;
        box-shadow: 3px 0 7px gray;
        position: relative;
        left: 1000px}

#falafel-fantasy
        {width: 200px;
        box-shadow: 3px 0 7px gray;
        position: relative;
        left: 1000px}

#sea-no-evil
        {width: 200px;
        box-shadow: 3px 0 7px gray;
        position: relative;
        left: 1000px}

#order-now
        {width: 300px;}

.IMG
    {
    width: 14.4%; 
    margin: 1%;}

