/*Affects the whole page*/


body
    {background: url(../img/burger-pattern-grayish-2.png);}

.content-divider
    {margin-left: 10px;
    margin-top: 5px;}

.IMG
    {
    width: 14.4%; 
    margin: 1%;}

    
/*Font presettings*/

@font-face 
            {font-family: "Ranchers";
            src: url("fonts/Ranchers/Ranchers-Regular.ttf");}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 500;}

@font-face {
font-family: "Roboto-Light";
src: url("fonts/Roboto/Roboto-Light.ttf");
font-weight: 300;}


h1
    {color: #da291c;
    font-family: "Ranchers";
    text-align: justify;}

h2 
    {color: rgb(78, 78, 78);
    font-family:"Roboto";}

h3 
    {color: rgb(78, 78, 78);
    font-family:"Roboto";}

h4
    {color: rgb(78, 78, 78);
    font-family:"Roboto";}    
    
.bold
    {font-weight: bold;}


td 
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";}


tfoot 
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";}

li 
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";}

tr 
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";}

.content-foot
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
    font-weight: 300;}

/*Home*/

#welcome
        {text-align: center;
        position: relative;
        top:20px;}

#bobs
    {position: relative;
    left: 662px;
    top: 25px;}

table.table {
    position: relative;
    top: 50px;
  }


.content-foot-home
{color: rgb(78, 78, 78);
font-family:"Roboto-Light";
font-size: 15px;
text-align: justify;
line-height: 30px;
font-weight: 300;
position: relative;
bottom:-100px;}


/*Contact*/

#contact
    {text-transform: uppercase;}

.content
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    font-weight: 300;
    margin: 10px;
    padding: 10px 0px 0px 0px;
    border-top: 1px solid  rgb(238, 189, 97);
}

.contact-color
    {background-color:rgba(255, 255, 255, 0.5);
    width: 1200px;}

.contact-form
        {margin: 10px;
        width: 400px;}

.form-message
            {margin: 10px;
            width: 400px;}

#send-message
        {position: relative;
        bottom: 10px;
        left: -10px;
        margin: 10px;
        width:160px;}
/*Specials*/

#specials
    {text-transform: uppercase;}



.content2
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    font-weight: 300;
    margin: 10px;
    padding: 10px 0px 0px 0px;}


.specials-color
    {background-color:rgba(255, 255, 255, 0.5);
    width: 1200px;}


/*Order*/

.alert-primary
        {width: 1000px;}

#order-header
    {text-transform: full-width;}

.order-div
        {padding: 15px;
        border-top:  solid 1px  rgb(238, 189, 97);
        color: rgb(78, 78, 78);
        font-family: "Roboto";
        font-size: 18px;}

.order-div input
        {display: block;
        margin-bottom: 20px;}

.order-div button {
    position: relative;
    top: 10px;
}

.order-div button:hover {
    box-shadow: 2px 2px 3px #c0c0c0;
    }
        
.order-div input:focus {
  box-shadow: 2px 2px 3px #c0c0c0;
  border:none;
    }

#note{
    display: block;}

.check
    {padding: 0.3px;
    position: relative;
    top:20px;}

#extra-topping
    {position: relative;
    top:20px;}

#personal-info
    {background-color:rgba(255, 255, 255, 0.5);
    width: 1200px;}

#order-info
    {background-color:rgba(255, 255, 255, 0.5);
    width: 1200px;}

#confirm-order
        {position: relative;
        top:20px;
        width: 250px;}


/*Menu*/
#menu
    {text-transform: uppercase;}


.menu-items
            {background-color:rgba(255, 255, 255, 0.5);
            width: 1200px;}

.content4
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";
    font-weight: 600;}

.content3
    {color: rgb(78, 78, 78);
    font-family:"Roboto-Light";}


.description
        {   color: rgb(78, 78, 78);
            font-family:"Roboto-Light";
            padding:0px;
            margin: 0px;
            position: relative;
            right: -208px;
        }

#Impossible-des
        {position: relative;
        bottom: 125px;}

#Veggie-des
            {position: relative;
            bottom: 136px;}

#seitan-des
            {position: relative;
            bottom: 153px;}

#falafel-des
                {position: relative;
                bottom: 185px;}

#sea-no-des
            {position: relative;
            bottom: 183px;}

#price
        {position: relative;
        bottom: 85px;
        left: 600px;
        }

#order-now
        {position: relative;
        bottom:40px;
        left: 35px;}


#impossible-burger
        {width: 200px;
        box-shadow: 3px 0 7px gray;}

#veggie-burger
        {width: 200px;
        box-shadow: 3px 0 7px gray;}

#seitan-surprise
        {width: 200px;
        box-shadow: 3px 0 7px gray;}

#falafel-fantasy
        {width: 200px;
        box-shadow: 3px 0 7px gray;}

#sea-no-evil
        {width: 200px;
        box-shadow: 3px 0 7px gray;}



